<section class="customer-section">
  <div class="container customer-container">
    <img
      src="./images/page-1/support.png"
      alt="laptop"
      width="540"
      height="500"
    />
    <div class="customer-wrap">
      <h2 class="customer-title">
        <span class="customer-title-span">Easier decision making for</span
        >Customer Support
      </h2>
      <p class="customer-text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="customer-list">
        <li class="customer-item">
          <div class="customer-icon-border yellow">
            <svg class="customer-icon" width="17" height="12">
              <use href="./images/page-1/icons.svg#icon-check"></use>
            </svg>
          </div>
          <p class="customer-item-text">
            Never worry about overpaying for your energy again.
          </p>
        </li>
        <li class="customer-item">
          <div class="customer-icon-border red">
            <svg class="customer-icon" width="17" height="12">
              <use href="./images/page-1/icons.svg#icon-check"></use>
            </svg>
          </div>
          <p class="customer-item-text">
            We will only switch you to energy companies that we trust and will
            treat you right.
          </p>
        </li>
        <li class="customer-item">
          <div class="customer-icon-border blue">
            <svg class="customer-icon" width="17" height="12">
              <use href="./images/page-1/icons.svg#icon-check"></use>
            </svg>
          </div>
          <p class="customer-item-text">
            We track the markets daily and know where the savings are.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
