<footer class="footer-section">
  <div class="container footer-container">
    <div class="footer-wrap">
      <div class="logo-wrap">
        <a class="footer-logo" href="./index.html"
          ><img
            class="footer-logo-img"
            src="./images/page-1/logo.png"
            alt="logo"
            width="40"
            height="36"
          />
          Product
        </a>
        <ul class="social-list">
          <li class="social-item">
            <a href="" class="social-item-link">
              <svg class="social-icon" width="24" height="24">
                <use href="./images/page-1/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="" class="social-item-link">
              <svg class="social-icon" width="24" height="24">
                <use href="./images/page-1/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="" class="social-item-link">
              <svg class="social-icon" width="24" height="24">
                <use href="./images/page-1/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="resource-wrap">
        <h3 class="footer-title">Resource</h3>
        <ul class="resource-list">
          <li class="resource-list-item">
            <a class="footer-item-link" href="">About Us</a>
          </li>
          <li class="resource-list-item">
            <a class="footer-item-link" href="">Blog</a>
          </li>
          <li class="resource-list-item">
            <a class="footer-item-link" href="">Contact</a>
          </li>
          <li class="resource-list-item">
            <a class="footer-item-link" href="">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="stuff-wrap">
        <h3 class="footer-title">Legal Stuff</h3>
        <ul class="stuff-list">
          <li class="stuff-list-item"></li>
          <a class="footer-item-link" href="">Disclaimer</a>
          <li class="stuff-list-item">
            <a class="footer-item-link" href="">Financing</a>
          </li>
          <li class="stuff-list-item">
            <a class="footer-item-link" href="">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="subscribe-wrap">
        <h3 class="subscribe-title">
          knowing you're always on the best energy deal.
        </h3>
        <form class="subscribe-form">
          <label class="subscribe-label" for="user-phone"></label>
          <div class="subscribe-input-wrap">
            <input
              class="subscribe-input"
              type="text"
              name="user-phone"
              id="user-phone"
              placeholder="Enter your phone number"
            />
            <svg class="subscribe-input-icon" width="16" height="24">
              <use href="./images/page-1/icons.svg#icon-phone"></use>
            </svg>
          </div>
          <button class="subscribe-btn" type="submit">Sign up Now</button>
        </form>
      </div>
    </div>
    <p class="footer-text">Made With Love By Figmaland All Right Reserved</p>
  </div>
</footer>
