<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-wrap">
      <h1 class="hero-title">Work at the speed of thought</h1>
      <p class="hero-text">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <ul class="hero-list">
        <li class="hero-item">
          <button class="btn-get-started">Get started</button>
        </li>
        <li class="hero-item">
          <button class="btn-watch-video">
            <svg class="watch-video-icon" width="20px" height="18px">
              <use href="./images/page-1/icons.svg#triangle"></use>
            </svg>
            Watch the Video
          </button>
        </li>
      </ul>
    </div>
    <img
      class="hero img"
      src="./images/page-1/hero.png"
      alt="peoples and gadjets"
      width="610"
      height="555"
    />
  </div>
</section>
