<section class="price-section">
  <div class="container price-container">
    <h2 class="price-title">Price Table</h2>
    <p class="price-text">We offer competitive price</p>
    <ul class="price-list">
      <li class="price-item">
        <h3 class="price-item-title">Free</h3>
        <p class="price-item-text">Brief price description</p>
        <div class="price-wrap">
          <p class="price">0</p>
          <div class="price-wrap-wrap">
            <p class="currency">$</p>
            <p class="term">Per / month</p>
          </div>
        </div>
        <ul class="price-property-list">
          <li class="price-property-item">
            <p class="price-property-text">Only 2 Operators</p>
          </li>
          <li class="price-property-item">
            <p class="price-property-text">Notifications</p>
          </li>
          <li class="price-property-item">
            <p class="price-property-text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-btn" type="button">Order Now</button>
      </li>
      <li class="price-item price-item-current">
        <h3 class="price-item-title">Standard</h3>
        <p class="price-item-text">Brief price description</p>
        <div class="price-wrap">
          <p class="price price-current">5</p>
          <div class="price-wrap-wrap">
            <p class="currency">$</p>
            <p class="term">Per / month</p>
          </div>
        </div>
        <ul class="price-property-list">
          <li class="price-property-item">
            <p class="price-property-text">5+ Operators</p>
          </li>
          <li class="price-property-item">
            <p class="price-property-text">Notifications</p>
          </li>
          <li class="price-property-item">
            <p class="price-property-text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-btn price-btn-current" type="button">
          Order Now
        </button>
      </li>
      <li class="price-item">
        <h3 class="price-item-title">Premium</h3>
        <p class="price-item-text">Brief price description</p>
        <div class="price-wrap">
          <p class="price">10</p>
          <div class="price-wrap-wrap">
            <p class="currency">$</p>
            <p class="term">Per / month</p>
          </div>
        </div>
        <ul class="price-property-list">
          <li class="price-property-item">
            <p class="price-property-text">10+ Operators</p>
          </li>
          <li class="price-property-item">
            <p class="price-property-text">Notifications</p>
          </li>
          <li class="price-property-item">
            <p class="price-property-text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-btn" type="button">Order Now</button>
      </li>
    </ul>
  </div>
</section>
