<section class="staff-section">
  <div class="container staff-container">
    <h2 class="staff-title">Quick & Easy Process</h2>
    <p class="staff-text">
      Do you require some help for your project: Conception workshop,
      prototyping, marketing strategy, landing page, Ux/UI?
    </p>
    <ul class="staff-list">
      <li class="staff-item">
        <img
          class="staff-img"
          src="./images/page-1/avatar.png"
          alt="girl"
          width="98"
          height="98"
        />
        <div class="staff-item-wrap">
          <p class="staff-item-text">I can take care of your pitch</p>
        </div>
      </li>
      <li class="staff-item reverse">
        <img
          class="staff-img"
          src="./images/page-1/avatar2.png"
          alt="woman"
          width="98"
          height="98"
        />
        <div class="staff-item-wrap">
          <p class="staff-item-text">I can prototype your app</p>
        </div>
      </li>
      <li class="staff-item reverse">
        <img
          class="staff-img"
          src="./images/page-1/avatar3.png"
          alt="boy"
          width="98"
          height="98"
        />
        <div class="staff-item-wrap">
          <p class="staff-item-text">I can take care of your pitch</p>
        </div>
      </li>
      <li class="staff-item">
        <img
          class="staff-img"
          src="./images/page-1/avatar4.png"
          alt="girl"
          width="98"
          height="98"
        />
        <div class="staff-item-wrap">
          <p class="staff-item-text">I can help marketing strategy</p>
        </div>
      </li>
    </ul>
    <button class="staff-btn" type="button">Contact our expert</button>
  </div>
</section>
