.collaborative-section {
    padding: 50px 0 75px;
}

.collaborative-container {
    display: flex;
    align-items: center;
    gap: 84px;
}

.collaborative-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    min-width: 226px;
    display: block;
    margin-bottom: 25px;
}

.collaborative-title-span {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    width: 226px;
    display: block;
    margin-bottom: 8px;
}

.collaborative-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.63;
    color: #22343d;
    margin-bottom: 30px;
}

.collaborative-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.collaborative-item-title {
    font-weight: 600;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.63;
    color: #22343d;
    margin-bottom: 12px;
}

.collaborative-item-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.63;
    color: #22343d;
}