.footer-section {
  padding: 50px 0 40px;
}

.footer-wrap {
  display: flex;
  margin-bottom: 10px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-weight: 700;
  font-size: 30px;
  /* line-height: 28px; */
  line-height: 0.93;
  color: #173a56;
  margin-right: 146px;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #edfffc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  fill: transparent;
  stroke: #02897a;
  stroke-width: 2px;
}

.resource-wrap {
  margin-right: 129px;
}

.stuff-wrap {
  margin-right: 83px;
}

.footer-title {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 30px; */
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 8px;
}

.resource-list {
  min-width: 118px;
}

.stuff-list {
  min-width: 131px;
}

.footer-item-link {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 35px; */
  line-height: 2.1875;
  color: #22343d;
}

.subscribe-title {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 30px; */
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 30px;
}

.subscribe-input-wrap {
  position: relative;
}

.subscribe-input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;
}

.subscribe-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #02897a;
}

.subscribe-input::placeholder {
  color: #02897a;
  padding-left: 42px;
}

.subscribe-btn {
  margin-top: 25px;
  border-radius: 4px;
  width: 131px;
  height: 39px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 30px; */
  line-height: 1.875;
  color: #22343d;
  text-align: center;
}