.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
}

.header-logo {
    font-weight: 700;
    font-size: 30px;
    /* line-height: 28px; */ 
    line-height: 1;
    color: #173a56;
    display: flex;
    gap: 16px;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 30px;
    margin-left: 237px;
    margin-right: 73px;
}


.header-nav-link {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 28px; */
    line-height: 1.75;
    color: #22343d;
    padding-top: 26px;
    padding-bottom: 26px;
    display: block;
}


.current {
    font-weight: 600;
}

.header-button-list {
    display: flex;
    gap: 21px;
}

.header-button {
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.sign-in {
    background-color: #fff;
    border: 1px solid #bcd0e5;
    width: 105px;
    height: 42px;
    color: #173a56;
}

.sign-up {
    color: #fff;
    width: 113px;
    height: 42px;
    background-color: #02897a;;
}