.hero-section {
    padding: 25px 0 55px 0
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 35px;
}

.hero-wrap {
    width: 465px;
}

.hero-title {
    font-weight: 700;
    font-size: 40px;
    /* line-height: 60px; */
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 18px;
}

.hero-text {
    font-weight: 400;
    font-size: 18px;
    /* line-height: 28px; */
    line-height: 1.56;
    color: #22343d;
    margin-bottom: 45px;
}

.hero-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-get-started {
    border-radius: 4px;
    width: 178px;
    height: 53px;
    background-color: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.btn-watch-video {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    width: 164px;
    height: 53px;
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
}

.watch-video-icon {
    fill: #02897a;
    margin-right: 8px;
}