.product-section {
    padding: 55px 0 20px 0;
}

.product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    width: 539px;
    margin: 0 auto 50px;
    padding: 0 24px;
}

.product-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.product-item {
    display: block;
    width: calc((100% - 90px) / 4);
}

.product-icon {
    fill: #ffffff;
}

.product-icon-border {
    width: 54px;
    height: 54px;
    border: 1px solid transparent;
    border-radius: 19px;
    background-color: #02897a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

.green {
    background-color: #02897a;
}

.blue {
    background-color: #4d8dff;
}

.purple {
    background-color: #740a76;
}

.red {
    background-color: #f03e3d;
}

.product-subtitle {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 13px;
}

.product-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

.product-btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    background-color: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-bottom: 50px;
}