body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  border: none;
  font-style: inherit;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
