.reviews-section {
    padding: 50px 0;
}

.reviews-title {
    font-weight: 700;
    font-size: 32px;
    /* line-height: 57px; */
    line-height: 1.78125;
    letter-spacing: 0.01em;
    color: #22343d;
    text-align: center;
    margin-bottom: 10px;
}

.reviews-text {
    width: 537px;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 28px; */
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
    margin: 0 auto 40px;
}

.reviews-list {
    display: flex;
    gap: 65px;
}

.reviews-item {
    width: calc((100% - 128px) / 3);
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 28px 26px;
}

.reviews-star-list {
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
}

.reviews-star-icon {
    fill: #f3cd03;
}

.reviews-star-icon-last {
    fill: transparent;
    stroke: #f3cd03;
    stroke-width: 2px;
}

.reviews-item-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 28px; */
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
    margin-bottom: 16px;
}

.reviews-item-wrap {
    display: flex;
    align-items: center;
    gap: 14px;
}

.reviews-item-title {
    font-weight: 600;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.reviews-item-subtext {
    font-weight: 500;
    font-size: 14px;
    /* line-height: 24px; */
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: #252b42;
}