.staff-section {
    padding: 75px 0 50px;
}

.staff-container {
    width: 916px;
    margin: 0 auto;
}

.staff-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 25px;
}

.staff-text {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.625;
    text-align: center;
    color: #22343d;
    margin-bottom: 40px;
}

.staff-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 100px;
    margin-bottom: 50px;
}

.staff-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: calc((100% - 100px) / 2);
}

.reverse {
    flex-direction: row-reverse;
}

.staff-item-wrap {
    width: 281px;
    min-height: 50px;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.staff-item-text {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
}

.staff-btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    width: 216px;
    height: 53px;
    background-color: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}