.strategies-section {
    padding: 50px 0 85px;
}

.strategies-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 10px;
}

.strategies-text {
    width: 465px;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 40px;
}

.strategies-list {
    display: flex;
    gap: 30px;
}

.strategies-item {
    border: 1px solid #dedede;
    border-radius: 8px;
    width: calc((100% - 60px) / 3);
}

.startegies-item-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 0 40px;
}

.strategies-item-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 28px; */
    line-height: 1.75;
    color: #22343d;
    padding-left: 24px;
}

.strategies-item-span {
    font-weight: 700;
    font-size: 16px;
    /* line-height: 28px; */
    line-height: 1.75;
    color: #22343d;
}

.strategies-item-title {
    font-weight: 700;
    font-size: 24px;
    /* line-height: 40px; */
    line-height: 1.67;
    color: #22343d;
    padding-left: 24px;
}

.current-title {
    color: #02897A;
}