/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./product.css');
@import url('./management.css');
@import url('./customer.css');
@import url('./collaborative.css');
@import url('./staff.css');
@import url('./strategies.css');
@import url('./price.css');
@import url('./reviews.css');
@import url('./promo.css');
@import url('./footer.css');
